*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: gold;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 5px 0;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 25px;
}

.atriz{
    background-image: linear-gradient(#424e6163,goldenrod);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.atriz-div-conteudo{
    width: 35%;
}


.atriz-titulo{
    padding: 34px 0;
}

.atriz{
    padding: 24px 0;
}


.atriz-imagem{
    width: 140px;
}

.atriz-icone{
    width: 25px;
    padding: 4px 8px;
}

.atriz-div{
    text-align: center;
    padding: 16px 0;
}

.atriz-titulo{
    text-align: center;
    padding: 50px 0;
}

.atriz-todas{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    background-color: rgba(156, 174, 177, 0.411);
}

p{
    text-align: justify;
}

h2{
    text-align: center;
}
